<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Farm</title>
</head>
<body>
    <h1>Edit Farm</h1>
    <form action="/farms/<%= farm._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Farm Name</label>
            <input type="text" id="name" name="name" placeholder="farm name" value="<%= farm.name %>">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="farm city" value="<%= farm.city %>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="email" value="<%= farm.email %>">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>